<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Responsive Paper asp.net deployment example</h1>                
    </div>
    <div class="information">To run coversion, please sign up/sign in at responsivepaper.com and update the app.settings with your apikey.</div>        
    <div class="list-group">
        <a class="list-group-item" target="_blank" href="/Home/Invoice">Pdf Invoice</a>
        <a class="list-group-item" target="_blank" href="/Home/Invoice?attachment=true">Pdf Invoice Download</a>
        <a class="list-group-item" target="_blank" href="/Home/Invoice?authToken=yofk9FI4WvOcA17QTqgIyMIbQMiJpxZdhCV4cVpMhqbTSgvC0NL2XTFl5G45JkN4">HTML view with Pdf Preview for Testing</a>
        <a class="list-group-item" target="_blank" href="/Home/Invoice?includeConsole=true&forat=Legal&landscape=true">Pdf Invoice with Console in Legal-Landscape</a>
    </div>
</div>
</body>
</html>